<!DOCTYPE html>
<html>
<head>
    <title>BuildMaestro - .NET / Git Building system</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="~/icon.png" sizes="32x32" />
    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="~/lib/core-js/client/shim.min.js"></script>
    <script src="~/lib/zone.js/dist/zone.js"></script>
    <script src="~/lib/reflect-metadata/Reflect.js"></script>
    <script src="~/lib/systemjs/dist/system.src.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery.signalR/jquery.signalR.js"></script>

    <!-- 2. Configure SystemJS -->
    <script src="systemjs.config.js"></script>
    @*<script src="~/app/buildmaestro.min.js"></script>*@
</head>
<!-- 3. Display the application -->
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)

    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>
</body>

</html>
