<link rel="import" href="~/lib/bower_components/paper-input/paper-input.html">
<script src="~/lib/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<buildmaestro-app>
    <div class="app-load-spinner"></div>
    <div class="app-load-msg">Loading BuildMaestro...</div>
</buildmaestro-app>