<div class="build-configuration-summary" @wapper="wapper" (click)="opened = !opened">
    <span class="name">{{configuration.name}}</span>
    <span class="git-commit-hash">
        Latest commit: {{configuration.latestGitCommit ? configuration.latestGitCommit.hash : 'Unknown'}}
    </span>
    <span class="git-status">
        Status: {{configuration.statusText ? configuration.statusText : 'Pending update...'}}
    </span>
</div>
<div class="build-configuration-content"  [class.opened]="opened">
    <paper-input></paper-input>
</div>