.bm-header {
    background-color: darkblue;
    height: 50px;
    overflow: hidden;
}

    .bm-header .title {
        color: white;
        display: inline-block;
        font-size: 30px;
        margin-left: 10px;
        margin-top: 5px;
        padding: 0;
    }

    .bm-header .connection-state {
        color: lightblue;
        display: inline-block;   
        float: right;
        font-size: 20px;
        margin-right: 10px;
        margin-top: 10px;
        padding: 0;  
    }

.fa-beer:before {
    content: "\\f0fc";
    color: #fff;
}
